.footer {
    color: #fff;
    padding: 20px;
    
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-column {
    flex: 1;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;}